backend/.*
backend/apidoc.json
backend/config/local*
backend/config/sample*
backend/doc
backend/Dockerfile
backend/local
backend/node_modules
backend/nodemon.json
backend/README.md
frontend/.*
frontend/!.angular-cli.json
frontend/*.md
frontend/Dockerfile
frontend/e2e
frontend/karma.conf.js
frontend/local
frontend/node_modules
frontend/protractor.conf.js
frontend/proxy.conf.json
