[Unit]
Description=PM2 process manager
Documentation=https://pm2.keymetrics.io/
After=network.target

[Service]
Type=forking
User=biosentiers
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
Environment=NODENV_VERSION={{ biosentiers_node_version }}
Environment=PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/home/biosentiers/.nodenv/shims
Environment=PM2_HOME=/home/biosentiers/.pm2
PIDFile=/home/biosentiers/.pm2/pm2.pid

ExecStart=/home/biosentiers/.nodenv/shims/pm2 resurrect
ExecReload=/home/biosentiers/.nodenv/shims/pm2 reload all
ExecStop=/home/biosentiers/.nodenv/shims/pm2 kill

[Install]
WantedBy=multi-user.target
